---
---

<% content_for :assets do %>
  <%= javascript_include_tag "https://github.com/pegjs/pegjs/releases/download/v0.10.0/peg-0.10.0.min.js" %>
  <%= javascript_include_tag "http://builds.handlebarsjs.com.s3.amazonaws.com/handlebars-latest.js" %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.0/bootstrap-slider.min.js" %>
  <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.0/css/bootstrap-slider.min.css" %>
<% end %>

<%= partial "code_runtime" %>
<%= partial "memory" %>
<%= partial "log" %>

<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active">
    <a id="code-link" href="#code" aria-controls="code" role="tab" data-toggle="tab">Code</a>
  </li>
  <li role="presentation">
    <a id="conf-link" href="#conf" aria-controls="conf" role="tab" data-toggle="tab">
      Configuration
    </a>
  </li>
  <li role="presentation">
    <a id="runtime-link" href="#runtime" aria-controls="runtime" role="tab" data-toggle="tab">
      Runtime
      <span class="badge" id="cycle"></span>
    </a>
  </li>
</ul>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="code">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="tab editor-container">
          <div class="row">
            <div class="col-xs-12">
              <div id="editor" class="editor">ADDI R1, R1, 1
ADDI R2, R2, 1
SW R1, 0(R4)
SW R2, 4(R4)
LOOP:
LW R1, 0(R4)
LW R2, 4(R4)
ADD R3, R1, R2
SW R3, 8(R4)
ADDI R4, R4, 4
PTM R4
BEQZ R0, LOOP</div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <button id="parse_button" class="btn btn-primary" onClick="callParser()">Parse</button>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-footer" id="code-footer">
        <div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          <span id="code-errors"></span>
        </div>
      </div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="runtime">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="btn-group" role="group" aria-label="...">
          <button id="stop" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-stop" aria-hidden="true" onClick="stop();"></span>
          </button>
          <button id="play" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-play" aria-hidden="true" onClick="play();"></span>
          </button>
          <button id="pause" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-pause" aria-hidden="true" onClick="pause();"></span>
          </button>
          <button type="button" class="btn btn-default" onClick="next()">
            <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
          </button>
        </div>
        <input id="play-speed" data-slider-id="speedSlider" type="text" data-slider-min="0.1" data-slider-max="10" data-slider-step="0.1" data-slider-value="1"/>
      </div>
      <div id="runtime-execution" class="panel-body">
        <div class="row">
          <div id="runtime-container" class="col-xs-12 col-md-6">
          </div>
          <div class="cols-xs-12 col-md-6">
            <div id="int-register-file" class="cols-xs-12 col-md-3">
            </div>
            <div id="float-register-file" class="cols-xs-12 col-md-3">
            </div>
            <div id="memory-file" class="cols-xs-12 col-md-6">
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <div id="log"></div>
        </div>
      </div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="conf">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class=row">
          <div class="col-xs-12 col-md-6">
            <div class="input-group">
              <span class="input-group-addon" id="superscaling">Superscaling amount</span>
              <input id="superscaling_input" type="number" step="1" min="1" max="7" class="form-control" aria-describedby="superscaling" value="1">
            </div>
            <p>Amount of IF and ID stages present on the pipeline. When this value is 1, the pipeline has <a class="diagram-hover">this architecture.<img id="non-superscalar-diagram" src="images/non-superscalar-diagram.png" class="diagram"></img></a> Otherwise, it has <a class="diagram-hover">this architecture.<img id="superscalar-diagram" src="images/superscalar-diagram.png" class="diagram"></img></a>
            </p>

          </div>

          <div class="col-xs-12 col-md-6">
            <div class="input-group">
              <span class="input-group-addon" id="int_registers"># of Int Registers</span>
              <input id="int_registers_input" type="number" step="1" min="8" max="64" class="form-control" aria-describedby="int_registers" value="8">
            </div>
          </div>

          <div class="col-xs-12 col-md-6">
            <div class="input-group">
              <span class="input-group-addon" id="float_registers"># of Float Registers</span>
              <input id="float_registers_input" type="number" step="1" min="8" max="64" class="form-control" aria-describedby="float_registers" value="8">
            </div>
          </div>

          <div class="col-xs-12 col-md-6">
            <div class="input-group">
              <span class="input-group-addon" id="size_mem">Memory size (words)</span>
              <input id="size_mem_input" type="number" step="1" min="8" max="2048" class="form-control" aria-describedby="size_mem" value="8">
            </div>
          </div>

          <div class="col-xs-12 col-md-6">
            <div class="input-group">
              <span class="input-group-addon" id="branch_delay">Branch delay slots</span>
              <select id="branch_delay_input" class="form-control" aria-describedby="branch_delay">
                <option value="true">Enabled</option>
                <option value="false">Disabled</option>
              </select>
            </div>
            <p>When enabled, instruction(s) after a branch will be allowed to continue executing regardless of the branch result. When disabled, said instruction(s) are flushed from the pipeline if (on execution stage) it is determined the branch had to be taken. When branches are predicted taken, there is a single branch delay slot (the second slot is automatically filled by the prediction). When branches are not predicted taken there are two branch delay slots (until the branch reaches execution).</p>
          </div>

          <div class="col-xs-12 col-md-6">
            <div class="input-group">
              <span class="input-group-addon" id="forwarding">Forwarding</span>
              <select id="forwarding_input" class="form-control">
                <option value="true">Has forwarding</option>
                <option value="false">No forwarding</option>
              </select>

            </div>
            <p>Forwards values from the last execution stage and MEM stage back to ID stage.</p>
          </div>

          <div class="col-xs-12 col-md-6">
            <div class="input-group">
              <span class="input-group-addon" id="branch_pred">Branch prediction</span>
              <select id="branch_pred_input" class="form-control">
                <option value="true">Predict always taken</option>
                <option value="false">Predict never taken</option>
              </select>
            </div>
            <p>When branches are not predicted taken, execution continues as normal and the instructions are flushed if the branch had to be taken (see branch delay slot details). If branches are predicted taken, once it is determined that the instruction is a branch (ID) the next instruction that will be fetched is the one with the branch label, flushing it in case on EX stage it is determined the branch shouldn't be taken.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
